@import "../lib/utils";

.btn {
  // padding: 0.97rem 2.28rem;
  padding: 0.67rem 1.78rem;
  border-radius: 25px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.btn-green {
  color: $White;
  background-image: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  //   background-image: linear-gradient(90deg, #31d35c, #2bb7da);
}
