@import "../lib/utils";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $Dark-Blue;
  padding: 2em 1.5em;
  color: $White;
  // border: 2px dotted orange;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-col:not(:nth-child(2)) {
    padding-bottom: 1.5rem;
  }

  .footer-col:nth-child(2) {
    padding-bottom: 0.5rem;
  }

  .logo-footer {
    filter: brightness(0) invert(1);
  }

  .socials {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    .social-icon {
      font-size: 1.3em;
      // border: 1px dotted yellow;
      &:hover {
        cursor: pointer;
      }
    }
    .social-icon:not(:last-child) {
      margin-right: 1em;
    }
  }
  .footer-col {
    text-align: center;
    .copyright {
      margin-top: 1.5em;
      font-size: 0.9rem;
      color: $Grayish-Blue;
    }
    // border: 1px solid red;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  // border: 1px solid red;
  li:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
